.navbar-brand {
  font-weight: bold;
  font-size: 30px;
  font-family: 'Shadows Into Light', cursive;
  text-transform: uppercase;
}

.nav-links {
  text-transform: uppercase;
  font-weight: bold;
}
 

