.homepage {
  padding: 80px 0;
  text-align: center;
}

.landing {
  h1 {
    font-family: Open Sans, sans-serif;
    font-weight: 600;
  }

  p {
    color: #999;
  }
}

.notes {
  margin-top: 20px;

  .link {
    cursor: pointer;
  }
}